body {
  font-family: sans-serif;
}
.center{
  text-align: center;
}
.box{
  width: 495px;
  border: 1px solid;
  border-radius: 5px;
}
.input-search{
  width: 450px;
  height: 40px;
  font-size: 18px;
  border: none;
  padding: 10px;
  outline: none;
}

.card-design{
  background-color: blueviolet;
  color: white;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.active{
  background-color: red;
}
.item {
  border: 1px solid lightblue;
  margin: 1px;
  padding: 5px;
  width: 490px;
}

.item.active,
.item:hover {
  background: #d3d3d33b;
}

.item:hover {
  cursor: pointer;
}


